
<head>
<meta name="viewport" content=
    "width=device-width, initial-scale=1">
  <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src=
"https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
  </script>
</head>

<body class="container">

  <!-- Define o rodapé -->
  <footer class="page-footer blue">
    <div class="container ">

        <div class="col 01 s12">
          <h5 class="white-text">
            Informações do Aplicativo
          </h5>
          <p class="grey-text text-lighten-4">
            Universidade Federal Tecnológica do Paraná - Especialização em Java
            <br> Aluna: Maria Luiza de Souza Becker
          </p>
      </div>

    <div class="footer-copyright green darken-3">
      <div class="container ">
        © 2020 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">
          More Links
        </a>
      </div>
    </div>
    </div>
  </footer>
</body>
